.confirm_box {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  display:none;
}
.confirm_box .overlay {
  background:rgba(0,0,0,0.5);
  position:absolute;
  z-index:9;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
.confirm_box .confirm_model {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:10;
  overflow:hidden;
}
.confirm_box .confirm_model .model {
  background:#fff;
  width: 400px;
  border-radius:4px;
  margin:40px auto;
  overflow:hidden;
}
.confirm_box .confirm_model .model .header{
  float:left;
  width:100%;
  background:#f8f8f8;
  border-bottom:solid 2px #ccc;
  padding:10px;
  box-sizing:border-box;
  
}
.confirm_box .confirm_model .model .header h1{
  font-size:14px !important;
  font-family:helvetica;
  color:#555;
  font-weight:300;
  line-height:5px;
}
.confirm_box .confirm_model .model .content {
  padding:10px 20px;
  float:left;
  width:100%;
  box-sizing:border-box;
}
.confirm_box .confirm_model .model .content p{
  font-size:14px !important;
  font-family:helvetica;
  color:#555;
  font-weight:300;
}
.confirm_box .confirm_model .model .content .buttons_container {
  float:left;
  width:100%;
  padding:10px;
  text-align:right;
}
.confirm_box .confirm_model .model .content .buttons_container .button{
  float:right;
  padding:5px 20px;
  border:none;
  margin:0 10px;
  border-radius:3px;
  border-bottom:solid 2px transparent;
  cursor:pointer;
}
.confirm_box .confirm_model .model .content .buttons_container .button:hover {
  border-bottom:solid 2px rgba(0,0,0,0.4);
}
.confirm_box .confirm_model .model .content .buttons_container .button.confirm {
  background:#43CF62;
  color:#fff;
}
.confirm_box .confirm_model .model .content .buttons_container .button.deny {
  background:#a30;
  color:#fff;
}